body{
        background-color:black; 
    }
       
a{
color:white;
font-family: 'Gill Sans';
text-decoration: none;



}
.top{ 
        width:100px;
        

        

}

.navigation{
    margin-top:15px;
        background-color:orange;
        text-align: center;
        justify-content: center;
        gap:50px;
        display: flex;
    width:500px;
    height:4.5vh;   
    text-decoration: none; 
        border-radius:15px;
    }
    
    div{
        color:white;
        
    }
